@import url(css/navbar.css);

@import url(css/sidebar.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

a {
    text-decoration-line: none;
}

hr {
    height: 1px;
    border: none;
    background-color: lightgray;
}

.flex {
    display: flex;
    justify-items: center;
    align-items: center;
}

.stretch {
    align-items: stretch;
}
