* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    height: 100vh;
    width: 80px;
    padding: 40px 25px;
    border-right: 1px solid lightgrey;
}

.logo-container {
    display: flex;
    justify-items: center;
    align-items: center;
}

#medium-logo {
    font-size: 1.8rem;
    text-align: center;
    width: auto;
}

.icon-section{
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-evenly;
    text-align: center;
    height: 50%;
    width: 100%;
}

.icon-container {
    color: grey;
}

.material-icons-outlined {
    font-size: 1.5rem;
}

hr {
    height: 1px;
    border: none;
    background-color: lightgray;
}

.sidebar {
    width: 400px;
    height: 100vh;
    padding: 40px 25px;
    border-left: 1px solid lightgrey;
    position: absolute;
    right: 0%;
    display: flex;
}

.call-to-action-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    width: 100%;
    height: 35px;
}

#registration-button {
    flex-grow: 2;
    background-color: black;
    color: whitesmoke;
    border: none;
    border-radius: 50px;
}

#sign-in-link {
    flex-grow: 1;
    background: none;
    color: cornflowerblue;
}